<div id="loader">
  <div class="loader-wrapper">
    <div class="circle-container">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
  </div>
</div>
