<div class="navbar-cookoon">
  <div class="navbar-container">
    <i id="side-nav-clicker" class="fa fa-bars" aria-hidden="true"></i>
    <%= link_to root_path do %>
      COOKOON
    <% end %>
    <i class="fa fa-home" aria-hidden="true"></i>
  </div>
</div>
