<div class="navbar-cookoon">
  <div class="navbar-container">
    <i class="fa fa-bars" aria-hidden="true"></i>
    COOKOON
    <%= link_to root_path do %>
      <i class="fa fa-home" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
