<div class="home-wrapper text-center">
  <div class="home-container">
    <div class="home-title title-block">
      <h1>COOKOON</h1>
      <h3>RECEVONS PARTOUT !</h3>
    </div>
    <div class="home-description">
      <p>
        <strong>
          Cookoon vous permet de louer un espace privé à un autre membre de la
          communauté pour quelques heures, en quelques clics.
        </strong>
      </p>
    </div>
    <div class="home-links links-block">
      <%= link_to 'EN SAVOIR +', '#', class: 'no-button' %>
      <%= link_to 'ACCÈS MEMBRE', member_path, class: 'button button-blue' %>
    </div>
  </div>
</div>
