<div class="text-center">
  <h1>COOKOON</h1>
  <h3>RECEVONS PARTOUT !</h3>
  <p>
    Cookoon vous permet de louer un espace privé à un autre membre de la
    communauté pour quelques heures, en quelques clics.
  </p>
  <%= link_to 'EN SAVOIR +', '#' %>
  <%= link_to 'ACCÈS MEMBRE', '#' %>
</div>
