<div class="modal fade" id="paiement_succeed" tabindex="-1" role="dialog" aria-labelledby="paiementSucceedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i>
        <h4>Votre demande de location a bien été validée.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>
