.navbar {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 24px;
    align-items: center;
    &-thin {
      padding: 20px;
      font-size: 24px;
    }
  }
  &-transparent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    a {
      color: white;
    }
  }
}
