.side-nav {
  background: $blue;
  height: 100vh;
  width: 66%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
  &-container {
    padding: 10px;
    color: white;
  }
  &-userblock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 35px 20px;
    max-width: 280px;
  }
  ul {
    list-style: none;
  }
  li {
    padding: 20px 0;
    border-bottom: 1px solid white;
  }
  a {
    color: white;
    &:focus {
      color: white;
    }
  }
  p {
    margin: 0;
  }
}

.overlay{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

@media (min-width: 768px) {
  .side-nav {
    width: 25%;
  }
}
