// body settings
body {
  position: relative;
  min-height: 100vh;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.italic {
  font-style: italic;
  font-size: 13px;
}

.light-padded {
  padding-top: 3em;
  padding-bottom: 1em;
}

.thin-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Containers
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #006F8B;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-cream {
  background: $cream;
}

.text-black {
  color: black;
}

.pinned-bottom {
  position: absolute;
  bottom: 10px;
  padding-left: 20px;
  font-size: small;
}

.fixed-bottom {
  position: fixed;
  bottom: 10px;
}

.left-mar-10 {
  margin-left: 10px;
}

// Links
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    color: black;
    text-decoration: none;
  }
}

// Horizontal Rules
hr {
  margin-top : 22px;
  margin-bottom: 22px;
  border-top: 1px solid black
}


// Fonts
h2 {
  margin-bottom: 22px;
  font-size: 28px;
}

// Trick to disable zoom on Ios mobile devices
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

select {
  -webkit-appearance: none;
}
