/* SCSS FOR CARDS ON ABOUT PAGES */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background: $blue;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background: $grey;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
