.title-block {
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
  }
  h3 {
    font-size: 12px;
    margin-top: 0;
    color: #8c8c8c;
  }
}

.links-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.block-presentation {
  padding: 20px 0;
  p {
    margin: 0;
  }
}

.reservation {
  margin-bottom: 10px;
  &-image {
    flex: 1;
  }
  &-infos {
    padding: 0 15px;
    flex: 3;
  }
  &-title {
    color: green;
    font-weight: bold;
  }
}

.bottom-block {
  padding: 20px;
}
