.title-block {
  h1 {
    margin: 0;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
    margin-top: 0;
    color: #8c8c8c;
  }
}

.links-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
