.button {
  border-radius: 30px;
  padding: 16px 46px;
  color: white;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 12px rgba(0,0,0,0.22);
  }
  &-white {
    background: white;
    color: #006F8B;
    border: none;
    &:hover {
      color: #464646;
      background: darken(white, 5%);
    }
  }
  &-blue {
    background: $blue;
    &:hover {
      background: darken($blue, 5%);
    }
  }
  &-gray {
    background: #999999;
    &:hover {
      background: darken(#999999, 5%);
    }
  }
  &-fixed {
    background: $blue;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 12px rgba(0,0,0,0.22);
    &:hover {
      background: darken($blue, 5%);
    }
  }
}

.no-button {
  color: black;
  font-weight: bold;
}
