.button {
  border-radius: 5px;
  padding: 15px 35px;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &-white {
    background: white;
    color: #464646;
    &:hover {
      color: #464646;
      background: darken(white, 10%);
    }
  }
  &-blue {
    background: $blue;
    &:hover {
      background: darken($blue, 10%);
    }
  }
  &-gray {
    background: #999999;
    &:hover {
      background: darken(#999999, 10%);
    }
  }
}

.no-button {
  color: black;
  font-weight: bold;
}
