.card {
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  &-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background: $blue;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &-infos {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 10px;
    top: -10px;
  }
}

.reservation-card {
  background: $blue;
  padding: 15px;
  color: white;
  border-radius: 10px;
  .reservation-title {
    color: $cream;
  }
  p.service-description {
    font-size: 12px;
  }
  .service-input {
    margin-left: 30px;
  }
}
