.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background-color: #494949;
  border-radius: 90px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:before {
    content: 'Non';
    position: absolute;
    left: 35px;
    top: 21%;
    font-size: 14px;
    color: white;
    opacity: 1;
  }

  &:after {
    content: 'Oui';
    position: absolute;
    right: 35px;
    top: 21%;
    font-size: 14px;
    opacity: 0;
  }
}

.toggle-handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: 4px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:checked {
  + .toggle {
    background-color: white;
    &:before {
      opacity: 0;
    }
    &:after {
      color: #006F8B;
      opacity: 1;
    }
    .toggle-handler {
      background-color: #006F8B;
      transform: translate3d(38px, 0, 0);
    }
  }
}
