.form-group input, .form-group textarea, .form-group select {
  text-color : black;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  transition: border-bottom 0.2s ease;
  border-radius: 0;
  background: $cream;
  box-shadow: none;
  padding-top: 10px;
}

.form-group label {
  color: #6c6c6c;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus, {
  outline: none;
  border-bottom: 2px solid #006F8B;
  box-shadow: none;
  transition: border-bottom 0.2s all-ease;
    -webkit-transition: all 0.2s all-ease;
    -moz-transition: all 0.2s all-ease;
    -ms-transition: all 0.2s all-ease;
    -o-transition: all 0.2s all-ease;
}
