.modal {
  &-content {
    background: $blue;
    color: white;
  }
  &-body {
    padding: 40px;
    padding-bottom: 10px;
  }
  &-header {
    border: none;
  }
  &-footer {
    text-align: center;
    border: none;
  }
  &-dialog {
    margin: 20px;
  }
}

.close {
  color: white;
}
