.notif {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &-topbar {
    position: absolute;
    top: 0;
    right: -5px;
  }
  &-sidebar {
    position: absolute;
    top: 24px;
    left: -15px;
  }
}

.notifiable {
  position: relative;
}
