.search {
  background: #006F8B;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin: 15px;
  box-shadow:
    0 1px 2px rgba(0,0,0,0.12),
    0 1px 1px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
  }
  p {
    margin: 0;
  }
  &-body {
    padding-top: 40px;
    display: none;
  }
}

.search:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 12px rgba(0,0,0,0.22);
}

.search-body input, .search-body select {
  border-bottom: 2px solid white;
  background: #006F8B;
  color: white;
  margin-bottom: 10px;
}

.search-body input:focus, .search-body select:focus {
  border: none;
  border-bottom: 2px solid white;
}

.control {
  font-size: 22px;
}

.increment-block {
  display: flex;
  justify-content: space-between;
  background: #006F8B;
  align-items: center;
  color: white;
  padding: 25px;
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

.datetimepicker {
  background: $blue;
  color: white;
  table tr td span.active.active {
    background: #3F88C5;
  }
}

.form-control[readonly] {
  background: $blue;
}



@media (max-width: 400px) {
  #infos-address {
    text-overflow: ellipsis;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.search .form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.search .form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.search .form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.search .form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.search .form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
