.search {
  background: #006F8B;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  p {
    margin: 0;
  }
  &-body {
    padding-top: 40px;
    display: none;
  }
}

.search-body input, .search-body select {
  border-bottom: 2px solid white;
  background: #006F8B;
  color: white;
}

.search-body input:focus, .search-body select:focus {
  border: none;
  border-bottom: 2px solid white;
}

.increment-block {
  display: flex;
  justify-content: space-between;
  background: #006F8B;
  align-items: center;
  color: white;
  font-size: 23px;
  padding: 25px;
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

.datetimepicker {
  background: $blue;
  color: white;
  table tr td span.active.active {
    background: #3F88C5;
  }
}


.search .form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.search .form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.search .form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.search .form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.search .form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
