<div class="container">
  <p>Avant de démarrer la location vous devez :</p>
  <ul>
    <li>Vérifier l'identité du locataire.</li>
    <li>Lui Remettre les clés.</li>
  </ul>
  <p>Vous pouvez également ajouter des photos pour l'etat des lieux : </p>
  <%= simple_form_for [:host, @reservation, @inventory] do |f| %>
    <%= f.input :checkin_photos, as: :attachinary %>
    <div class="fixed-bottom light-padded">
      <%= f.button :button, 'DEMARRER LA LOCATION', type: :submit, class: 'button button-blue' %>
    </div>
  <% end %>
</div>
