<div class="modal fade" id="paiement_succeed" tabindex="-1" role="dialog" aria-labelledby="paiementSucceedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-reversed-success fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
        <h4>Votre demande de location a bien été validée.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>
