<div class="container">
  <b>Trouvez le Cookoon dont vous avez besoin</b>
</div>

<%= render 'user_searches/search_form' %>

<div class="container">
  <% if @cookoons.empty? %>
    <h3>Aucun Cookoon dans cette zone, veuillez essayer une autre recherche</h3>
  <% else %>
    <div class="row">
      <%= render 'cookoons_and_map' %>
    </div>
  <% end %>
</div>

<!-- Paiement success modal -->
<%= render 'paiements/succeed' %>

<script>
  document.addEventListener("turbolinks:load", function() {
    var flat_address = $('#user_search_address').get(0);

    if (flat_address) {
      var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }
  });
</script>

<% unless @lat_lng %>
  <script>getGeoLocation()</script>
<% end %>

<% if flash[:paiement_succeed] %>
  <script>
    document.addEventListener("turbolinks:load", function() {
      $('#paiement_succeed').modal('show');
    });
  </script>
<% end %>
