<div class="container">
  <h3>Trouvez le Cookoon dont vous avez besoin</h3>
  <div class="row">
    <% @cookoons.each do |cookoon| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to cookoon do %>
          <div class="card">
            <div class="card-data">
              <div class="card-infos">
                <%= "#{readable_price(cookoon)} - #{cookoon.name}" %>
              </div>
              <div class="card-rating">
                <% 5.times do %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
