<div class="container">
    <b>Trouvez le Cookoon dont vous avez besoin</b>
</div>

<%= render 'user_searches/search_form' %>

<div class="container">
  <div class="row">
    <% if @cookoons.empty? %>
     <h3>Aucun Cookoon dans cette zone, veuillez essayer une autre recherche</h3>
    <% else %>
      <%= render 'cookoons_and_map' %>
    <% end %>

  </div>
</div>
