<div class="container">
  <h3>Trouvez le Cookoon dont vous avez besoin</h3>
  <div class="row">

    <div class="col-xs-12 col-md-8">
      <div class="row">
        <% @cookoons.each do |cookoon| %>
          <div class="col-xs-12 col-md-6">
            <%= link_to cookoon do %>
              <div class="card" style="background-image: url(<%= cookoon_safe_picture(cookoon) %>)">
                <div class="card-data">
                  <div class="card-infos">
                    <%= "#{readable_price(cookoon)} - #{cookoon.name}" %>
                  </div>
                  <div class="card-rating">
                    <% 5.times do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="map" class="map-cookoon-index"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          scrollwheel: false
        },
        internal: {
          id: 'map'
        }
      }, function() {
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  </script>
<% end %>
