<div class="image-wrapper">
</div>

<div class="container">
  <div class="block-presentation">
    <h3><%= @cookoon.name %></h3>
    <p>Appartement à <span class="text-gray">Paris, 75008</span></p>
    <p>par <span class="text-gray"><%= @cookoon.user.first_name %></span></p>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum hic
      eos commodi, impedit, quaerat culpa recusandae eius. Neque temporibus dicta
      debitis, quaerat quidem nihil, amet fugiat quisquam facere beatae!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum hic
      eos commodi, impedit, quaerat culpa recusandae eius. Neque temporibus dicta
      debitis, quaerat quidem nihil, amet fugiat quisquam facere beatae!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum hic
      eos commodi, impedit, quaerat culpa recusandae eius. Neque temporibus dicta
      debitis, quaerat quidem nihil, amet fugiat quisquam facere beatae!
    </p>
  </div>
  <div class="text-center" style='margin-top: 25px;'>
    <%= link_to 'Réserver', '#', class: 'button button-blue' %>
  </div>
</div>
